---
import PomodoroTimer from "../components/PomodoroTimer";
---

<html lang="pl">
  <head>
    <title>Pomodoro Timer</title>
  </head>
  <body>
    <div class="container">
      <div class="pomodoro-container">
        <PomodoroTimer client:load />
      </div>
    </div>
  </body>
</html>
